<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <upayments>
                <currency_select>base_currency</currency_select>
                <order_status>pending_payment</order_status>
                <order_success_status>processing</order_success_status>
                <upayments_vault_active>0</upayments_vault_active>
                <model>UPaymentsFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>0</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>0</is_gateway>
                <is_offline>0</is_offline>
                <cctypes>AE,VI,MC</cctypes>
                <useccv>1</useccv>
                <upayments_vault_active>1</upayments_vault_active>
            </upayments>
            <upayments_all>
                <active>1</active>
                <title>Pay by UPayments</title>
                <model>UPaymentsAllFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>10</sort_order>
            </upayments_all>
            <!-- not whitelabeled -->
            <upayments_creditcard>
                <active>1</active>
                <title>Pay by Credit Card</title>
                <model>UPaymentsFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>25</sort_order>
            </upayments_creditcard>
            <!-- whitelabel credit card -->
            <!--<upayments_cc>
                <active>1</active>
                <title>Pay by Credit Card</title>
                <model>UPaymentsCCFacade</model>
                <payment_action>authorize_capture</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_sale>1</can_sale>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>1</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <cctypes>AE,VI,MC</cctypes>
                <useccv>1</useccv>
                <sort_order>10</sort_order>
            </upayments_cc>-->
            <upayments_knet>
                <active>1</active>
                <title>Pay by Knet</title>
                <model>UPaymentsKnetFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>1</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>20</sort_order>
            </upayments_knet>
            <upayments_samsungpay>
                <active>1</active>
                <title>Pay by Samsung Pay</title>
                <model>UPaymentsSamsungPayFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>50</sort_order>
            </upayments_samsungpay>
            <upayments_applepay>
                <active>1</active>
                <title>Pay by Apple Pay</title>
                <model>UPaymentsApplePayFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>30</sort_order>
            </upayments_applepay>
            <upayments_googlepay>
                <active>1</active>
                <title>Pay by Google Pay</title>
                <model>UPaymentsGooglePayFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>40</sort_order>
            </upayments_googlepay>
            <upayments_amex>
                <active>1</active>
                <title>Pay by American Express</title>
                <model>UPaymentsAmexFacade</model>
                <payment_action>authorize</payment_action>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <can_capture_vault>0</can_capture_vault>
                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>
                <sort_order>40</sort_order>
            </upayments_amex>
            <upayments_vault>
                <title>UPayments - Tokenization</title>
                <model>UPaymentsVaultFacade</model>
                <can_use_internal>0</can_use_internal>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </upayments_vault>
        </payment>
    </default>
</config>
